<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h2>입력폼 활용</h2>
    <div id="app">
      이름: <input type="text" placeholder="이름" v-model="name" /><br /><br />
      좋아하는 색은 :<br /><br />
      <label><input type="radio" v-model="picked" value="red" />빨강</label
      ><br />
      <label><input type="radio" v-model="picked" value="green" />녹색</label
      ><br />
      <label><input type="radio" v-model="picked" value="blue" />파랑색</label
      ><br />
      <label><input type="radio" v-model="picked" value="yellow" />노란색</label
      ><br />
      <label><input type="radio" v-model="picked" value="gray" />회색</label
      ><br /><br />
      <p :style="{color:picked}">
        내 이름은 {{name}}이고 좋아하는 색은 {{picked}}입니다.
      </p>
    </div>
    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            name: "",
            picked: "",
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
