<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      img {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>숫자 버튼 만들기와 클릭 이벤트 처리</h2>
      <hr />
      <button v-for="n in 10" @click="showImg(n)">{{n}}</button><br />
      <img v-if="src" :src="src"> 
    </div>
    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            src: "",
          };
        },
        methods: {
          showImg: function (n) {
            this.src = n;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
